<h2>Word Frequency</h2>
<form action="/results">
  <div class="form-group">
    <label for ="string_one">Your word to match</label>
    <input id="string_one" name="string_one" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="string_two">Your sentence</label>
    <input id="string_two" name="string_two" class="form-control" type="text">
    </div>
  <button type="submit" class="btn-success">Send</button>
</form>
